<html>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: 'Roboto', sans-serif;
            color:#FF0266;
        }
        p{
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <body>
        <h1 style="text-align: center;font-size:3.5rem;color:#0336ff">JakasNewsWala</h1>
        <hr>
        <h1>{{article.Title}}</h1>
        <p>
            {{article.Article}}
        </p>
    </body>
</html>