<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            var x=0
            $.getJSON('http://gd.geobytes.com/GetCityDetails?callback=?', function(data) {
                x=data['geobytesremoteip']
                console.log(x)
                $.ajax({
                type: "POST",
                url: "{{ url_for('fetch')}}",
                contentType: "application/json",
                data: JSON.stringify({IP:x}),
                dataType: "json",
                });
                setTimeout(()=>{window.location.href='{{url_for("articles")}}'},300)
            });
        </script>
    </head>
    <body>
    </body>
</html>
